<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729948895754-krn5q4f0mq0lk5ri0q1ch2htkgu64tjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729948895754-krn5q4f0mq0lk5ri0q1ch2htkgu64tjt</string>
	<key>API_KEY</key>
	<string>AIzaSyCTlPTTFUfXwEW5Lwq2P07v43kIg0rlzMk</string>
	<key>GCM_SENDER_ID</key>
	<string>729948895754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MediaMediaMedia.MediaMine</string>
	<key>PROJECT_ID</key>
	<string>media-92a29</string>
	<key>STORAGE_BUCKET</key>
	<string>media-92a29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729948895754:ios:76cc9616a51b4194</string>
	<key>DATABASE_URL</key>
	<string>https://media-92a29.firebaseio.com</string>
</dict>
</plist>